<section>
  <h2><%= @dog.name %></h2>

  <div id="dogCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @dog.images.each_with_index do |image, i| %>
        <div class="carousel-item <%= "active" if i == 0 %>">
          <%= image_tag url_for(image), alt: "Photo of #{@dog.name}", class: "d-block w-100" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p><%= @dog.description %></p>

  <!-- only show controls to the owner -->
  <% if owner?(@dog) %>
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
    <br>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
    <%= link_to "Like #{@dog.name}", like_dog_path, method: :get %>
  <% end %>
</section>
